<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Google Fonts -->
    
    <!-- CSS -->
    <link rel="stylesheet" href="/static/css/estilos.css">

    <!-- Favicon -->
    <link rel="icon" href="./static/img/favicon.ico">
    
    <title>Clases</title>
</head>
<body>
    <header class="header">
        <nav>
            <!-- Logo -->          
            <div id="logo">
                <a href="/index.html">
                    <img src="/static/img/logo-gym.PNG" alt="" height="70px">
                    <span class="logo-text">GymGym</span>
                </a>
            </div>

            <!-- Hipervínculos del Menú -->
            <ul class="nav-links">
                <li>
                    <a href="/templates/contacto.html">Contacto</a>
                </li>
                <li>
                    <a href="/templates/planes.html">Planes</a>
                </li>
                <li>
                    <a href="/templates/entrenamiento.html">Entrenamiento</a>
                </li>
                <li>
                    <a href="/templates/clases.html">Clases</a>
                </li>
            <!-- Aca podriamos poner un boton -->
                <li>
                    <a class="btn-login" href="/templates/login.html">Login</a>
                </li>
            </ul>
        </nav>
    </header>

<main>

    <section id="clases">
        <div class="container">
            <h2>Clases</h2>
            <div class="img-clases">
                <img src="/static/img/img-clases.PNG" alt="">
            </div>
        </div>

    </section>

</main>


<footer>
    <a href="">Términos y condiciones</a>
    <a href="">Preguntas frecuentes</a>
    <a href="">Ayuda</a>
</footer>
</body>
</html>