<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Google Fonts -->

    <!-- CSS -->
    <link rel="stylesheet" href="/static/css/estilos.css" />

    <!-- Favicon -->
    <link rel="icon" href="/static/img/favicon.ico" />

    <!-- Fontawesome -->
    <script
      src="https://kit.fontawesome.com/e489eed9fa.js"
      crossorigin="anonymous"
    ></script>

    <!-- Fuente de google -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
      rel="stylesheet"
    />

    <title>Contacto</title>
  </head>

  <body>
    <header class="header">
      <nav class="navbar">
        <!-- Logo -->
        <div id="logo" class="logo-container">
          <a href="/index.html">
            <img
              class="logo"
              src="/static/img/logo-urban-gym.png"
              alt="logo URBAN GYM"
            />
            <!-- <span class="logo-text">URBAN GYM</span> -->
          </a>
        </div>
        <input type="checkbox" id="check" />
        <label for="check" class="bar-btn">
          <i class="fa-solid fa-bars"></i>
        </label>

        <!-- Hipervínculos del Menú -->
        <div class="menu">
          <ul class="nav-links ul_links">
            <li class="li_links">
              <a class="links" href="/templates/contacto.html">Contacto</a>
            </li>
            <li class="li_links">
              <a class="links" href="/templates/planes.html">Planes</a>
            </li>
            <!-- <li class="li_links">
            <a class="links" href="/templates/entrenamiento.html">Entrenamiento</a>
          </li> -->
            <li class="links li_links">
              <a href="/templates/clases.html">Clases</a>
            </li>
            <li class="li_links">
              <a class="links btn-login" href="/templates/login.html">Login</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <main>
      <section id="contacto" class="section-form">
        <!-- Aca tendriamos que armar un form  -->
        <!-- Tiene que tener 5 campos
        *checkbox (por ejemplo Acepto la Política de privacidad) OK
        *un select OK
        *una imagen OK
        *validacion para que los campos sean obligatorios con js -->
        <div class="container-form">
          <div class="info-form">
            <h2>¡Hola!</h2>
            <p>
              Déjanos tus datos y cuéntanos tu inquietud. Te daremos respuesta a
              la brevedad posible.
            </p>
            <a href="#"><i class="fa fa-phone"> (011)15123456789</i></a>
            <br />
            <a href="#"
              ><i class="fa fa-envelope"> contacto@urban-gym.com</i></a
            >
            <br />
            <a href="#"><i class="fa fa-map-marked"> CABA, Argentina</i></a>
            <br />
          </div>

          <form action="" method="POST" id="form">
            <div class="form">
              <div class="campo">
                <label for="nombre">Nombre y Apellido:</label>
                <input type="text" name="nombre" class="campo" id="nombre" />
              </div>
              <div class="campo">
                <label for="email">E-mail:</label>
                <input type="email" name="email" class="campo" id="email" />
              </div>
              <div class="campo"></div>
              <div class="campo">
                <label for="horario-select"
                  >¿Cual es tu horario de preferencia para entrenar?</label
                >
                <select name="opcion" id="opcion-select">
                  <option value="">--Selecciona una opcion:--</option>
                  <option value="maniana">Mañana</option>
                  <option value="tarde">Tarde</option>
                  <option value="noche">Noche</option>
                </select>
              </div>

              <div class="campo">
                <h4>VERIFICACION DE IDENTIDAD</h4>
                <p>
                  Por favor, suba una foto legible de su DNI para verificar su
                  identidad:
                </p>
                <label for="foto">Foto de DNI:</label>
                <input type="file" id="foto" name="foto" accept="image/*" />
              </div>

              <div class="campo">
                <label for="asunto">Asunto:</label>
                <input type="text" name="asunto" class="campo" id="asunto" />
              </div>
              <div class="campo">
                <textarea name="mensaje" rows="10" cols="30"> </textarea>
              </div>
              <div class="campo">
                <input type="checkbox" name="acepto" id="" />
                <label for="acepto">Acepto la Política de privacidad</label>
              </div>
              <div class="campo">
                <input
                  id="enviarBtn"
                  class="button4"
                  type="button"
                  value="Enviar"
                />
              </div>
            </div>
          </form>
        </div>
      </section>
    </main>

    <footer class="pie-pagina">
      <div class="grupo-1">
        <div class="box">
          <figure class="logo-container">
            <a href="#">
              <img src="/static/img/logo-urban-gym.png" alt="logo URBAN GYM" />
            </a>
          </figure>
        </div>
        <div class="box">
          <h2>SOBRE NOSOTROS</h2>
          <p>
            URBAN GYM es una marca asociada con la actividad física con más de
            25 años de experiencia en el mercado.
          </p>
          <p>Originada en el barrio de Palermo, Buenos Aires</p>
        </div>
        <div class="box">
          <h2>SIGUENOS</h2>
          <div class="red-social">
            <a href="#" class="fa-brands fa-facebook"></a>
            <a href="#" class="fa-brands fa-instagram"></a>
            <a href="#" class="fa-brands fa-youtube"></a>
            <a href="#" class="fa-brands fa-x-twitter"></a>
          </div>
        </div>
      </div>
      <div class="grupo-2">
        <small>&copy;2024 <b>GymGym</b>Todos los derechos Reservados.</small>
      </div>
    </footer>

    <script src="/script.js"></script>
  </body>
</html>
