<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Google Fonts -->
    
    <!-- CSS -->
    <link rel="stylesheet" href="./planes.css">

    <!-- Favicon -->
    <link rel="icon" href="./static/img/favicon.ico">
    
    <title>Planes</title>
</head>
<body class="body">
    <header class="header">
        
        <nav>
            <!-- Logo -->          
            <div id="logo">
                <a href="/index.html">
                    <img src="/static/img/logo-gym.PNG" alt="" height="70px">
                    <span class="logo-text">GymGym</span>
                </a>
            </div>
            <!--vinculos del menu-->
            <ul class="nav-links">
                <li>
                    <a href="./contacto.html">Contacto</a>
                </li>
                <li>
                    <a href="./planes.html">Planes</a>
                </li>
                <li>
                    <a href="./entrenamiento.html">Entrenamiento</a>
                </li>
                <li>
                    <a href="./clases.html">Clases</a>
                </li>
            <!-- Aca podriamos poner un boton -->
                <li>
                    <a class="btn-login" href="./login.html">Login</a>
                </li>
            </ul>
        </nav>
        <br>
<br>
        <h1>Tenemos varios planes para que elijas!</h1>
    </header>
    <section id="planes">
    <div class="padre">
        <div class="row">
          <div class="cell">Plan Básico: </div>
          <div class="cell2">Acceso 3 días a la semana en la sucursal que elijas.<br> <anima-precio href "#">$25.000</anima-recio></div>
        </div>
        <div class="row">
          <div class="cell">Plan Plus:</div>
          <div class="cell2">Acceso a todas las sucursales 3 días a la semana, de 7 a 22hs.<br><anima-precio href"#">$30.000 </animaprecio></div>
        </div>
        <div class="row">
          <div class="cell">Plan full:</div>
          <div class="cell2">Acceso ilimitado todos los días de la semana de 7 a 22hs. en todas las sucursales y demas instituciones con convenio. <br> <anima-precio href"#"> $35.000 </animaprecio></div>
        </div>
      </div>
    </section>
</body>
<main>
  

    <section>

            
    <br><br>

    </section>
</main>

    
    



<footer class="pie-pagina">
    <div class="grupo-1">
      <div class="box">
        <figure>
          <a href="#">
            <img src="/static/img/logo-gym.PNG" alt="" />
          </a>
        </figure>
      </div>
      <div class="box">
        <h2>SOBRE NOSOTROS</h2>
        <p>
          Gym es una marca asociada con la actividad física con más de 25 años
          de experiencia en el mercado.
        </p>
        <p>Originada en el barrio de Palermo, Buenos Aires</p>
      </div>
      <div class="box">
        <h2>SIGUENOS</h2>
        <div class="red-social">
          <a href="#" class="fa-brands fa-facebook"></a>
          <a href="#" class="fa-brands fa-instagram"></a>
          <a href="#" class="fa-brands fa-youtube"></a>
          <a href="#" class="fa-brands fa-x-twitter"></a>
        </div>
      </div>
    </div>
    <div class="grupo-2">
      <small>&copy;2024 <b>GymGym</b>Todos los derechos Reservados.</small>
    </div>
  </footer>
</body>
</html>